* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Zen Old Mincho", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbf7c5;
}

.link {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* ***************************
LOADING PAGE
************************/

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #582c4d;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loading-span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loading-span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* ***************************
******************************
LOGO DESIGN
*************************
************************************/

.logo-con {
  position: relative;
  height: fit-content;
  padding: 0;
}
.logo-con:hover .logo {
  transform: scale(1.1);
}
.logo-text {
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;

  /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); */

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 40px;
  transition: all 0.5s;

  position: absolute;
  z-index: -999;
  top: 7%;
  left: 30%;
}
.a {
  color: #d90368;
  font-size: 2rem;
  font-weight: bolder;
  margin-right: -0.2rem;
  font-family: "Neonderthaw", cursive;
  /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15); */
}
/* ***************************
******************************
NAVBAR
*************************
************************************/
.navbar {
  padding: 1rem 0;

  box-shadow: rgba(217, 3, 104, 0.4) 0px 0px 0px 2px,
    rgba(0, 0, 0, 0.65) 0px 4px 6px -1px,
    rgba(24, 21, 40, 0.08) 0px 1px 0px inset;
}
.nav-toggle {
  padding: 0;
  margin: 0;
}
.nav-icon {
  color: #582c4d;
  font-size: 1.8rem;
  cursor: pointer;
}
.nav-center {
  border: solid;

  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.nav-header {
  /* border: solid; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  position: fixed;
  /* border: solid red; */
  z-index: 999;
  background: #181528;
  transition: all 0.7s;
  overflow: hidden;
  top: 75px;
  right: 0;
  width: 50%;
  height: 40vh;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.nav-btn-container {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logout-btn {
  height: fit-content;
  width: fit-content;
  margin-top: 1rem;
}
.nav-link ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ul-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ul-list li {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
.links {
  color: #d90368;
}

.hide {
  /* height: 0px; */
  transform: translateX(500px);
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }
  .nav-link {
    position: unset;
    background: transparent;
    box-shadow: unset;
    /* border: solid; */
  }
  .nav-header {
    margin: 0;
    width: fit-content;
  }
  .nav-center {
    /* border: solid; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
  }
  .hide {
    transform: translateX(0);

    height: fit-content !important;
  }
  .show {
    height: fit-content !important;
  }
  .ul-list ul {
    display: flex;
    flex-direction: row;
  }
  .ul-list li {
    margin-left: 2rem;
    font-size: 1.2rem;
  }
  .nav-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .logout-btn {
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
